==
<ul class="list-inline social-links">
	<li><img src="{{ 'assets/images/line.png'|theme }}"  alt="" /></li>
	<li><a href="https://facebook.com" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="https://twitter.com" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://plus.google.com" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
	<li><a href="{{ '/rss.xml'|app }}" class="rss-feed" ><i class="fa fa-rss"></i></a></li>
	<li><img src="{{ 'assets/images/line.png'|theme }}"  alt="" /></li>
</ul><!-- end .social-links -->