/***************** Global styles *********************/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  color: #333333;
  background: #efefef;
}
div[class*='col-md-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.active {
  background: #2c4382;
}
#activeLogin {
  display: none;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #555;
  opacity: 0.5;
}
.container .navbar-collapse .navbar-nav li a {
  font-size: 12px;
}
.contact-us-now {
  padding-top: 20px;
}
.contact-us-now .btn-primary {
  background: #009847;
  height: 42px;
  width: 102px;
  border: none;
}
.video-wrapper {
  position: relative;
  padding-top: 25px;
  margin-bottom: 15px;
  height: 0;
  margin-top: 10px;
}
.video-wrapper.ratio-5-4 {
  padding-bottom: 80%;
}
.video-wrapper.ratio-16-10 {
  padding-bottom: 62.5%;
}
.video-wrapper.ratio-16-9 {
  padding-bottom: 56.25%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
}
.image-wrapper {
  padding-right: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  display: block;
}
.image-wrapper img {
  padding: 0;
  width: 100%;
}
/******************* Header/Navigation ***********************/
header {
  width: 100%;
  height: 250px;
  background: #ffffff url('../images/header_img/banner.jpg') no-repeat;
  background-size: cover;
}
header .navbar-header .navbar-brand {
  height: auto;
}
header .navbar-header .navbar-brand img {
  max-width: 100%;
}
.collapse-menu {
  display: none;
  background: #009847;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}
.collapse-menu .navbar-toggle {
  padding: 0;
  margin: 0;
  color: #ffffff;
}
.collapse-menu .navbar-toggle i {
  font-size: 16px;
}
#main-wrapper {
  padding-bottom: 50px;
}
#main-wrapper .navbar-collapse {
  padding: 0;
  margin-left: 0;
}
#main-wrapper .navbar-collapse .nav {
  box-shadow: 0px 1px 2px #888;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: #009847;
  border-radius: 3px;
}
#main-wrapper .navbar-collapse .nav li:last-child a:hover,
#main-wrapper .navbar-collapse .nav li:last-child .active {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
#main-wrapper .navbar-collapse .nav li:first-child a:hover,
#main-wrapper .navbar-collapse .nav li:first-child .active {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
#main-wrapper .navbar-collapse .nav li a {
  font-size: 15px;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 0px 0px 2px #5c5c5c;
  height: 48px;
  display: table-cell;
  text-align: center;
  padding: 0 18.4px;
}
#main-wrapper .navbar-collapse .nav li a:hover {
  background: #2c4382;
}
#main-wrapper .collapse-menu {
  margin-bottom: 10px;
  cursor: pointer;
}
#main-wrapper .collapse-menu p {
  color: #fff;
  margin: 0;
  line-height: 22px;
}
#main-wrapper .collapse-menu i {
  color: #fff;
  float: right;
  font-size: 15px;
  line-height: 22px;
}
/********************** Second Nav ***************************/
.second-nav {
  background: #009847;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #888;
}
.second-nav li {
  border-top: 1px solid rgba(207, 207, 207, 0.16);
}
.second-nav li:first-child {
  border-top: 0;
}
.second-nav li:last-child a:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.second-nav li:first-child a:hover {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.second-nav li a {
  color: #ffffff;
  text-shadow: 0px 0px 2px #5c5c5c;
}
.second-nav li a:hover {
  background: #2c4382;
}
.second-nav li a i {
  float: right;
  font-size: 15px;
}
.second-nav .drop-mn li {
  border: none;
  padding-left: 30px;
}
.second-nav .drop-mn li a:hover {
  border-radius: 0;
}
/************************ Social Links ****************************/
.social-links {
  text-align: center;
  margin: 15px 0 12px 0;
}
.social-links li a {
  width: 35px;
  border-radius: 30px;
}
.social-links li a:hover {
  box-shadow: 0px 0px 5px #767676;
}
.social-links li a i {
  color: #ffffff;
  font-size: 12px;
}
.social-links li .facebook {
  background: #3a589b;
  padding: 8px 13px;
}
.social-links li .twitter {
  background: #4086cd;
  padding: 8px 10px;
}
.social-links li .rss-feed {
  background: #e19126;
  padding: 8px 10px;
}
.social-links li .google-plus {
  background: #ca4638;
  padding: 8px 10px;
}
/******************* News *************************/
.news {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #888;
  background: #fff;
}
.news .pagination {
  display: none;
}
.news h2 {
  font-size: 14px;
  font-weight: bold;
  color: #696969;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.news ul li {
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
}
.news ul li:nth-child(n+4) {
  display: none;
}
.news ul li:last-child {
  border-bottom: none;
}
.news ul li h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  line-height: 17px;
}
.news ul li h3 a {
  color: #2c4382;
  text-transform: capitalize;
}
.news ul li span.content-blk {
  color: #969696;
  margin-bottom: 0;
}
.news ul li span.content-blk:first-letter {
  text-transform: capitalize;
}
.news ul li .info {
  font-size: 11px;
  padding: 0 0 5px 0;
}
/********************** Search form *********************/
.search-form {
  margin-bottom: 20px;
  margin-top: 7px;
  position: relative;
}
.search-form #search-value {
  color: #969696;
  height: 25px;
  width: 100%;
  padding: 0 25px 0 5px;
  outline: none;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 0px 2px #888;
}
.search-form #submit-search {
  height: 25px;
  width: 25px;
  border: none;
  background: url('../images/search.png') no-repeat center center;
  position: absolute;
  right: 0px;
  top: 0px;
}
/****************** Advertising **********************/
.advertising li {
  margin-bottom: 20px;
}
.advertising li a img {
  max-width: 100%;
}
/******************* Main Content *********************/
.main-content {
  border-radius: 3px;
  box-shadow: 0px 1px 3px #888;
  min-height: 500px;
  padding: 10px;
  display: inline-block;
  width: 100%;
  background: #fff;
}
.main-content .pageInfo {
  border-bottom: 1px solid #eeeeee;
}
.main-content .pageInfo .login-user {
  position: relative;
}
.main-content .pageInfo .login-user a:hover {
  text-decoration: none;
}
.main-content .pageInfo .login-user a .image-wrapper {
  display: inline-block;
  float: none;
  padding: 0;
}
.main-content .pageInfo .login-user a img {
  float: none;
  width: 25px;
  margin-top: -4px;
}
.main-content .pageInfo .login-user ul {
  position: absolute;
  right: 9px;
  top: 23px;
  background: #009847;
  box-shadow: 0px 1px 2px #999;
  border-radius: 3px;
  z-index: 50;
  margin: 0;
  clear: both;
}
.main-content .pageInfo .login-user ul i {
  position: absolute;
  color: #009847;
  top: -10px;
  left: 46px;
  font-size: 14px;
}
.main-content .pageInfo .login-user ul li {
  padding: 5px 10px;
}
.main-content .pageInfo .login-user ul li:hover {
  background: #12BB61;
  border-radius: 3px;
}
.main-content .pageInfo .login-user ul li a {
  cursor: pointer;
  color: #fff;
}
.main-content .pageInfo .login-user p {
  float: right;
  margin: 0;
  font-weight: bold;
}
.main-content .pageInfo .login-user p a {
  text-transform: capitalize;
  color: #2c4382;
}
.main-content .pageInfo .login-user p a i {
  margin-left: 5px;
}
.main-content .pageInfo ul {
  margin: 0;
  padding: 0;
}
.main-content .pageInfo ul li {
  padding-right: 0;
}
.main-content .pageInfo ul li span {
  font-size: 15px;
  font-weight: bold;
  color: #009847;
  text-transform: capitalize;
}
.main-content .pageInfo h1 {
  font-size: 15px;
  font-weight: bold;
  color: #696969;
  margin: 0;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.main-content .pageInfo h1 ~ p ~ .info {
  display: none;
}
.main-content .disqus {
  margin-top: 100px;
}
.main-content .facebook {
  clear: both;
}
.main-content .facebook ul {
  padding-left: 5px;
}
.main-content .facebook ul li {
  margin-top: 5px;
  padding: 0 5px 0 0;
}
.main-content p {
  color: #767676;
  margin-top: 15px;
}
.main-content p:first-letter {
  text-transform: capitalize;
}
.main-content .post-list h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #696969;
  font-weight: bold;
}
.main-content .post-list p {
  font-size: 12px;
  color: #767676;
  padding: 10px 0;
}
.main-content .post-list li {
  margin-top: 15px;
}
.main-content .post-list li h3 {
  margin: 0;
  text-transform: capitalize;
}
.main-content .post-list li h3 a {
  font-size: 14px;
  font-weight: bold;
  color: #2c4382;
}
.main-content .post-list li p {
  color: #969696;
  margin: 0;
  padding: 0 0 10px 0;
}
.main-content .post-list li p:first-letter {
  text-transform: capitalize;
}
.main-content .post-list .info {
  font-size: 11px;
}
/************************* Login **************************/
.login-message {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
.login {
  position: absolute;
  background: #ffffff;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #888;
  padding: 10px 25px 10px 25px;
  z-index: 1001;
  margin-left: 15.85%;
  top: -150px;
}
.login h1 {
  text-transform: none !important;
  margin: 0;
  font-size: 13px;
  color: #696969;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.login form {
  margin: 20px auto;
}
.login form div {
  position: relative;
  margin-top: 25px;
}
.login form input {
  display: block;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 2px #888;
  width: 250px;
  height: 35px;
  padding: 0px 5px;
  color: #969696;
}
.login form input:focus {
  outline: none;
}
.login form label {
  font-size: 10px;
  color: #2c4382;
  margin-top: -14px;
  display: none;
  position: absolute;
}
.login form .row {
  margin-top: 10px;
}
.login form .row div[class*='col-md-'] {
  margin: 0;
}
.login form .row p {
  font-size: 10px;
  color: #969696;
  float: left;
  margin-bottom: 0px;
}
.login form .row p a {
  color: #009847;
}
.login form .row #remember-me-label {
  color: #969696;
  font-size: 10px;
  position: relative;
  margin: 0;
  float: right;
  display: block;
  font-weight: normal;
}
.login form .row #remember-me {
  width: 15px;
  height: 15px;
  box-shadow: none;
  float: left;
  margin-top: 0;
}
.login form #login-now {
  background: #009847;
  color: #ffffff;
  margin-top: 30px;
}
/*********************** Footer **************************/
footer {
  margin-top: 3px;
  font-size: 11px;
}
footer p {
  color: #969696;
}
footer ul {
  float: right;
}
footer ul li a {
  color: #009847;
}
footer ul li a:hover {
  text-decoration: none;
}
/********************* Media Queries **************************/
/* Large desktop */
/* Medium desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  .social-links li:first-child,
  .social-links li:last-child {
    display: none;
  }
  .social-links li:nth-child(2) {
    margin-bottom: 20px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .social-links {
    text-align: center;
  }
  .social-links li:first-child,
  .social-links li:last-child {
    display: none;
  }
  .social-links li:nth-child(2) {
    margin-bottom: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .collapse-menu {
    display: block;
  }
  .advertising {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
  }
  .advertising li {
    float: left;
    margin-bottom: 0;
    width: 33.33%;
  }
  #main-wrapper .navbar-collapse .nav {
    margin-top: 0;
  }
  #main-wrapper .navbar-collapse .nav li {
    padding-left: 15px;
  }
  #main-wrapper .navbar-collapse .nav li a {
    font-size: 12px;
  }
  .news {
    margin-bottom: 20px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .advertising {
    text-align: center;
    width: 100%;
  }
  .advertising li {
    width: auto;
    float: none;
    margin: 0 0 20px 0;
  }
  footer div[class*='col-md-'] {
    text-align: center;
    width: 100%;
  }
  footer div[class*='col-md-'] ul {
    float: none;
  }
}
