title = "projects"
url = "/projects/:slug?/:sub?"
layout = "master"

[blogPosts]
postsPerPage = "10"
categoryPage = "index"
postPage = "index"
noPostsMessage = "No posts found"

[blogCategory]
paramId = "slug"
postPage = "projects"
postsPerPage = "10"
noPostsMessage = "No posts found"

[blogPost]
paramId = "sub"
SparamId = "slug"

[subPost]
SparamId = "sub"
subPostName = "slug"
==
<?php
function onStart(){
	
	$this['page'] = 'projects';
	
	$this['sub'] = $this->param('sub');
	$this['title'] = $this->param('slug');
	$slug = $this['title'];
	$this['path'] =  URL::to('/');
	
	if($slug != ''){
	    $this['title'] = $this->param('slug');
	}
    
    if($slug != ''){
        $this['news'] = true;
    }else{
        $this['news'] = false;
    }
	
}
?>
==
{% put nav %}
	<ul class="unstyled second-nav nav">
		<li><a href="{{ path }}/{{ page }}/{{ title }}/information">Information</a></li>
		<li><a href="{{ path }}/{{ page }}/{{ title }}/websites-projects">Micro-websites projects</a></li>
	</ul><!-- end .second-nav -->
{% endput %}

{% put news %}
	{% component 'blogPosts' %}
{% endput %}	


{% put pageName %}
    <h1>
        {% if title == '' %}
            {{ page }}
        {% elseif sub != '' %}
            {{ title }} > {{ sub }}
        {% else %}
            {{ title }}
        {% endif %}
    </h1>
{% endput %}

{% put mainContent %}
    {% if (title == '') %}
        {% component 'blogCategory' %}
    {% else %}
        {% if sub != '' %}
            {% component 'subPost' %}
        {% else %}
            {% component 'blogPost' %}
        {% endif %}
    {% endif %}
{% endput %}