title = "userSection"
url = "/iafes-association/user/:code"
layout = "master"

[session]
security = "user"
redirect = "login"

[blogPosts]
postsPerPage = "3"
categoryPage = "index"
postPage = "index"
noPostsMessage = "No posts found"

[account]
paramCode = "code"
==
<?php
use rainlab\user\models\Assembly;
use rainlab\user\models\Information;
use rainlab\user\models\Financial;


function onStart(){

     $this['news'] = true;
	 $this['path'] =  URL::to('/');
     $this['slug'] = $this->param('code');

	if(Auth::check()){
	    $id = Auth::getUser()->id;
    	$this['page'] = $this->param('code');
    	$page = $this['page'];
    	if(Auth::getUser()->avatar == null){
    	   $this['image'] = $this['path'].'/themes/iafes/assets/images/user.jpg';
    	}else{
    	    $this['image'] =  Auth::getUser()->avatar->getPath();
    	}
    	if($page == 'information'){
    	    $post = Information::where('user_id','=',$id)->first();
    	}else if($page == 'general-assembly'){
    	    $post = Assembly::where('user_id','=',$id)->first();
    	}else if($page == 'financial-info'){
    	    $post = Financial::where('user_id','=',$id)->first();
    	}
    	if(isset($post)){
    	    $this['content'] = $post->content_html;
	    }
	    
	}


}
?>
==
{% put nav %}
	{% partial "iafes-nav.htm" crntPage = slug appPath = path %}
{% endput %}

{% put pageName %}
     <h1>{{ page }}</h1>
{% endput %}

{% put user %}
    {% if user %}
        <p>Hello <a data-toggle="collapse" href="#signOut"><img src="{{ image }}" alt="" /> {{ user.name }}<i class="fa fa-caret-down"></i></a></p>
        <ul id="signOut" class="panel-collapse collapse">
            <i class="fa fa-caret-up"></i>
            <li><a href="{{path}}/iafes-association/user/settings">Settings</a></li>
			<li><a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></li>
		</ul>	
    {% endif %}
{% endput %}

{% put news %}
	{% component 'blogPosts' %}
{% endput %}
   
{% put mainContent %}
    {% if slug == 'settings' %}
        {% component 'account' %}
    {% else %}
        {{ content | raw }}
    {% endif %}
{% endput %}